@font-face {
  font-family: 'GT';
  src: local('GT'), url(./fonts/GT-Super-Display-Bold-Trial.otf) format('opentype');
}

@font-face {
  font-family: 'GT-MED';
  src: local('GT-MED'), url(./fonts/GT-Super-Display-Medium-Trial.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'GT';
}

h1,h2,h3,h4,h5,p,li {
  margin: 0;
}

#hover-zoom img:hover{
  transform: scale(1.5);
}

a {
  text-decoration: none;
  color: initial;
}



